<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Page</title>

    <link rel="stylesheet" href="/stylesheet/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

      /* @import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap"); */

      :root {
        --color1: #22223b;
        --color2: #4a4e69;
        --color3: #9a8c98;
        --color4: #c9ada7;
        --color5: #f2e9e4;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Averia Serif Libre", cursive;
        background-color: var(--color1);
        color: #ffffff;
      }
      section {
        width: 100vw;
        background-color: var(--color3);
      }
      .radio-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
      }
      .radio-list h2 {
        margin: 0.5rem;
      }
      h1 {
        text-align: center;
        margin: 1.5rem;
      }
      .radio-item [type="radio"] {
        display: none;
      }
      .radio-item + .radio-item {
        margin-top: 15px;
      }
      .radio-item label {
        display: block;
        padding: 20px 60px;
        background: var(--color1);
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        min-width: 250px;
        white-space: nowrap;
        position: relative;
        transition: 0.4s ease-in-out 0s;
      }
      .radio-item label:after,
      .radio-item label:before {
        content: "";
        position: absolute;
        border-radius: 50%;
      }
      .radio-item label:after {
        height: 19px;
        width: 19px;
        border: 2px solid #524eee;
        left: 19px;
        top: calc(50% - 12px);
      }
      .radio-item label:before {
        background: #524eee;
        height: 20px;
        width: 20px;
        left: 21px;
        top: calc(50%-5px);
        transform: scale(5);
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease-in-out 0s;
      }
      .radio-item [type="radio"]:checked ~ label {
        border-color: #524eee;
      }
      .radio-item [type="radio"]:checked ~ label::before {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      /* submit button */
      .buttons {
        display: flex;
        justify-content: center;
        margin: 1rem;
        gap: 2rem;
      }
      .button {
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 4px;
        position: relative;
        background-color: var(--color3);
        border: none;
        color: #fff;
        padding: 20px;
        width: 200px;
        text-align: center;
        transition-duration: 0.4s;
        overflow: hidden;
        box-shadow: 0 5px 15px #444d55;
        border-radius: 4px;
      }

      .button:hover {
        background: #fff;
        box-shadow: 0px 2px 10px 5px var(--color4);
        color: #000;
      }

      .button:after {
        content: "";
        background: var(--color2);
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s;
      }

      .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
      }

      .button:focus {
        outline: 0;
      }

      .scores {
        height: 100px;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        color: var(--color5);
        font-size: 2rem;
        background-color: var(--color1);
      }
      .checkscore {
        display: none;
      }
      #scoreDisplay {
        font-size: 2.5rem;
      }
    </style>
  </head>
  <body>
    <h1>Quiz Page</h1>

    <form action="/quizz" method="POST">
      <% for (var i = 0; i < questions.length; i++) { %>

      <section class="radio-section">
        <div class="radio-list">
          <h2><%=questions[i].QUEST_ID%>) <%= questions[i].QUEST_TEXT %></h2>
          <input
            type="hidden"
            name="questionid"
            value="<%=questions[i].QUEST_ID%>"
          />

          <% for (var j = 0; j < answers.length; j++) { %> <% if
          (answers[j].QUEST_ID === questions[i].QUEST_ID) { %>

          <div class="radio-item">
            <input
              type="radio"
              id="radio<%=j+1%>"
              name="answers[<%= questions[i].QUEST_ID %>]"
              value="<%= answers[j].OPTION_ID %>"
            />
            <label for="radio<%=j+1%>">
              <%= answers[j].OPTION_ID %> ) <%= answers[j].OPTION_TEXT %>
            </label>
          </div>

          <% } %> <% } %>
        </div>
      </section>
      <% } %>

      <div class="buttons" id="buttons">
        <input class="button" type="submit" value="Submit" id="submitButton" />
        <input class="button" type="reset" value="Reset" id="" />
      </div>
    </form>

    <div id="scorebox" class="buttons">
      <div class="checkscore button">check score</div>
      <div class="scores">
        <p>Your score is:</p>
        <div id="scoreDisplay"></div>
      </div>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      var submitbtn = document.getElementById("submitButton");
      var scores = document.querySelector(".scores");
      var scoreID = document.querySelector("#scoreDisplay");
      var checkScoreButton = document.querySelector(".checkscore");
      var buttons = document.getElementById("buttons");
      checkScoreButton.addEventListener("click", () => {
        fetch("http://localhost:8006/totalscore")
          .then((response) => response.json())
          .then((score) => {
            scores.style.display = "flex";
            scoreID.innerHTML = score;
          })
          .catch((error) => {
            console.error("Error fetching total score:", error);
            scoreID.innerHTML = "Error fetching score";
          });
      });
      submitbtn.addEventListener("click", () => {
        buttons.style.display = "none";
        checkScoreButton.style.display = "block";
      });
    });
  </script>
</html>
